ul {
    list-style-type: none;
    margin: 0, 0, 10px, 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #3b3b3b;
  }
  
  .active {
    background-color: white;
    color: black;
  }