body {
    margin: 0;
    background-color: #141414;
    background-image: url(images/Backdrop.png);
}

@font-face {
    font-family: paintfont;
    src: url(images/paintstrokes.otf);
}

h2 {
    font-family: paintfont;
    font-size: 40px;
    margin: 10px;
    color: white;
    text-align: center;
}

h3 {
    font-family: paintfont;
    font-size: 35px;
    margin: 10px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
}

a {
    font-family: paintfont;
    font-size: 30px;
    margin: 10px;
    color: white;
    text-align: center;
}

.textcontainer {
    background-color: #1a1a1a;
    border-radius: 25px;
    padding: 20px 20px;
    margin: 80px 80px;
    color: white;
}

.container {
    background-color:#212121;
    border:1px solid white  ;
    background-image: url('images/BannerTest.png');
    background-size: 100%;
    
}

.imgcontainer {
    width: 30%;
    padding: 10px;
    border: none;
}