ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
}

li a.active {
    background-color: white;
    color: black;
}

li a:hover:not(.active) {
    background-color: #141414;
    color: white;
}

.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 10px 30px 10px 10px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 25px;
}

.active, .collapsible:hover {
    background-color: white;
    color: black;
}

.content {
    display: none;
    overflow: hidden;
    background-color: black;
}
