.size {
    display: block;
    float: left;
    color: white;
    border-radius: 25px;
    text-align: center;
    padding: 0px 16px;
}

.size:hover:not(.active) {
    background-color: #3b3b3b;
}

.active {
    background-color: white;
    color: black;
  }